@import (reference) '~styles/colors';

.components-textarea-common {
    border: 1px solid @black_10;
    border-radius: 8px;
    display: block;
    outline: none;
    padding: 20px;
    resize: none;
    width: 100%;
}
