@import (reference) '~styles/colors';

.components-textarea-common {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px @shadow;
    display: block;
    outline: none;
    padding: 20px;
    resize: none;
    width: 100%;
}
