@import (reference) '~styles/colors';

.modules-pages-legal-routes-terms-of-use {
    &__container {
        margin-top: 100px;
    }

    &__description {
        margin-top: 20px;
        text-align: center;
    }

    &__paragraph-container {
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }
}
