@import (reference) '~styles/colors';

.modules-pages-legal-routes-terms-of-use {
    &__container {
        margin-top: 100px;
    }

    &__description {
        margin-top: 20px;
        text-align: center;
    }

    &__paragraph {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__paragraph-title {
        font-weight: 800;
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;

        &:first-child {
            margin-top: 0;
        }
    }

    &__text-block {
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }
}
