@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';
@import (reference) '~styles/typography';

.modules-pages-legal-routes-terms-of-use {
    &__container {
        margin-top: 100px;

        @media @mobile {
            margin-top: 50px;
        }
    }

    &__description {
        margin-top: 20px;
        text-align: center;
    }

    &__paragraph {
        margin-top: 10px;
    }

    &__section {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__section-title {
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }

    &__text-block {
        margin-top: 50px;
    }

    &__title {
        .f_h5;

        text-align: center;
    }
}
