@import (reference) '~styles/colors';

.modules-common-breadcrumbs-item {
    align-items: center;
    display: flex;
    margin-right: 15px;
    white-space: nowrap;

    &__arrow {
        margin-left: 15px;
    }

    &__link {
        &:hover {
            text-decoration-line: underline;
        }
    }
}
