@import (reference) '~styles/colors';

.profile-common-footer {
    &__send-button {
        border: 1px solid @black_15;
        border-radius: 25px;
        color: @black_50;
        cursor: pointer;
        padding: 20px;
        text-align: center;
    }

    &__send-button-container {
        margin-top: 50px;
    }
}
