.components-catalog-content-item-container {
    flex: 2 1 66%;
    height: 100%;
    overflow: auto;
    padding: 20px;

    &_without-padding {
        padding: 0;
    }

    @media (min-width: 1024px) {
        margin-right: 10px;
    }

    @media (max-width: 374px) {
        flex: 1 1 50%;
    }
}
