@import (reference) '~styles/colors';

.header-location-modal-content {
    &__content-container {
        margin-top: 20px;
    }

    &__cities-container {
        margin-top: 10px;
    }

    &__city-title {
        margin-top: 5px;
    }

    &__location-item {
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }
}
