@import (reference) '~styles/colors';

.components-share-common {
    display: flex;

    &__container {
        line-height: 0;
        margin-left: 15px;

        &:first-child {
            margin: 0;
        }

        svg {
            height: 24px;
            width: 24px;
        }
    }
}
