@import (reference) '~styles/colors';

.components-pagination-common-main {
    &__current-page {
        color: @black;
    }

    &__link {
        &.disabled {
            visibility: hidden;
        }
    }

    &__main-block {
        display: flex;
        margin-top: 15px;
    }

    &__main-block-item {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }
}
