.modules-pages-profile-routes-sale-offers-create {
    &__categories-area {
        display: flex;
    }

    &__categories-block {
        flex: 1 1 auto;
    }

    &__map-container {
        margin-top: 15px;
    }

    &__map-geo-container {
        margin-top: 15px;
    }
}
