@import (reference) '~styles/colors';

.modules-common-header-search-block {
    margin-top: 15px;

    &:first-child {
        margin-top: 0;
    }

    &__content {
        margin-top: 5px;
    }

    &__title {
        font-weight: 600;
    }
}
