@import (reference) '~styles/colors';

.profile-sale-points-info {
    display: flex;

    &__content-container {
        flex: 3 1 auto;
    }

    &__sale-point-container {
        margin-top: 50px;
    }
}
