@import (reference) '~styles/colors';

.components-map-2gis-components-show-marker {
    padding-bottom: 100%;
    position: relative;

    &__map-container {
        bottom: 0;
        left: 0;
        max-height: 500px;
        max-width: 500px;
        position: absolute;
        right: 0;
        top: 0;

        &_mobile-app {
            height: 300px;
            width: auto;
        }
    }
}
