@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-common-catalog-content {
    &__categories-container {
        columns: 3;

        @media @tablet {
            columns: 1;
        }
    }

    &__category-item {
        &:hover {
            background-color: #E9EDF6;
        }
    }

    &__header-item {
        display: inline-block;

        &:hover {
            background-color: #E9EDF6;
        }
    }

    &__item {
        display: none;

        &.selected {
            display: block;
        }
    }
}
