@import (reference) '~styles/colors';

.modules-pages-map-web-routes-index {
    &__content-area {
        margin: 50px auto 0;
        max-width: 800px;
    }

    &__filter-button {
        background-color: @primary;
        border-radius: 25px;
        color: @white;
        cursor: pointer;
        padding: 20px;
        text-align: center;

        &:hover {
            background-color: @primary_80;
        }
    }

    &__filters-block {
        display: flex;
        margin-left: -15px;
    }

    &__filters-container {
        margin-left: 15px;
    }

    &__info-item-container {
        margin-top: 15px;
    }

    &__info-section {
        margin-top: 20px;
    }

    &__slider-container {
        margin-top: 50px;
    }

    &__slider-image {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: contain;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__slider-image-container {
        padding-bottom: 50%;
        position: relative;
    }

    &__title {
        text-align: center;
    }
}
