@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-pages-map-web-routes-index {
    &__buttons-block {
        align-items: center;
        display: flex;
    }

    &__button-container {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__content-area {
        margin: 0 auto;
        max-width: 1400px;
    }

    &__filter-button {
        background-color: @primary;
        border-radius: 25px;
        color: @white;
        cursor: pointer;
        padding: 20px;
        text-align: center;

        &:hover {
            background-color: @primary_80;
        }
    }

    &__filters-block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    &__filters-title {
        @media @tablet {
            display: none;
        }
    }

    &__info-section {
        margin-top: 20px;
    }

    &__map-area {
        display: flex;
        margin-top: 15px;

        @media @tablet {
            flex-direction: column;
        }
    }

    &__map-block {
        flex: 1 1 60%;
    }

    &__offers-area {
        flex: 1 1 40%;
        margin: 0 0 0 20px;
        position: relative;

        @media @tablet {
            margin: 20px 0 0;
            padding-bottom: 100%;
        }
    }

    &__offers-block {
        bottom: 0;
        display: flex;
        flex-direction: column;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__offers-container {
        flex: 1 1 auto;
        overflow: auto;

        &::-webkit-scrollbar {
            background-color: lightgrey;
            border-radius: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: darkgray;
            border-radius: 8px;
        }
    }

    &__offers-header {
        padding-bottom: 10px;
    }

    &__offers-header-description {
        color: @black_80;
        margin-top: 5px;
    }

    &__slider-container {
        margin-top: 50px;
    }

    &__slider-image {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: contain;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__slider-image-container {
        padding-bottom: 50%;
        position: relative;
    }

    &__title {
        text-align: center;
    }
}
