.catalog-navigation-item {
    &__content-container {
        display: none;
        left: 30%;
        position: absolute;
        top: 0;
        width: 70%;

        &:hover,
        .catalog-navigation-item__title-container:hover & {
            display: block;
        }
    }

    &__title-container {
        width: 30%;
    }
}
