.catalog-navigation-item {
    &__content-container {
        bottom: 0;
        display: none;
        height: 100%;
        left: 30%;
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;

        &:hover,
        .catalog-navigation-item__title-container:hover & {
            display: block;
        }
    }

    &__title {
        cursor: pointer;
    }

    &__title-container {
        width: 30%;
    }
}
