@import (reference) '~styles/colors';

.components-sliders-base-slider {
    padding-bottom: 50px;
    position: relative;

    &__arrow {
        @media (max-width: 1023px) {
            display: none !important;
        }

        &_next {
            right: -50px !important;
        }

        &_prev {
            left: -50px !important;
        }
    }
}
