@import (reference) '~styles/colors';

.modules-common-map-yandex-components-balloon-offer-view-all {
    &__price {
        font-weight: 800;
    }

    &__section-link {
        margin-top: 15px;
    }

    &__section-link-title {
        font-weight: 800;
    }

    &__section-price {
        margin-top: 15px;
    }

    &__section-price-title {
        font-weight: 800;
    }

    &__section-seller {
        margin-top: 15px;
    }

    &__section-seller-title {
        font-weight: 800;
    }

    &__title {
        font-weight: 800;
    }
}
