@import (reference) '~styles/colors';

.cards--sale-point {
    border: 1px solid @black_20;
    border-radius: 5px;
    max-width: 500px;
    padding: 20px;

    &__image {
        height: 200px;
        width: 200px;
    }

    &__item-container {
        margin-top: 20px;

        &_without-offset {
            margin-top: 0;
        }
    }

    &__value {
        margin-top: 5px;
    }
}
