@import (reference) '~styles/colors';

.cards--sale-point {
    border: 1px solid @black_20;
    border-radius: 5px;
    max-width: 500px;
    padding: 20px;

    &__edit-button-container {

    }

    &__remove-button-container {
        margin-left: 15px;
    }

    &__image {
        height: 200px;
        width: 200px;
    }

    &__item-container {
        margin-top: 20px;

        &_service {
            display: flex;
            justify-content: flex-end;
        }

        &_without-offset {
            margin-top: 0;
        }
    }

    &__link {
        &_remove {
            color: @red;
        }
    }

    &__value {
        margin-top: 5px;
    }
}
