@import (reference) '~styles/colors';

.components-cards-sale-point {
    border: 1px solid @black_5;
    border-radius: 20px;
    max-width: 800px;
    padding: 20px;
    position: relative;

    &__image {
        border: 1px solid @black_5;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }

    &__image-item-container {
        margin-right: 20px;

        @media (max-width: 1023px) {
            margin: 15px 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    &__image-list-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        @media (max-width: 1023px) {
            flex-direction: column;
        }
    }

    &__item-container {
        margin-top: 20px;

        &_service {
            display: flex;
            justify-content: flex-end;
        }

        &_without-offset {
            margin-top: 0;
        }
    }

    &__link {
        &_remove {
            color: @red;
        }
    }

    &__moderation-hint {
        background: @white;
        border: 1px solid @black_5;
        border-radius: 8px;
        color: @black;
        display: none;
        font-weight: 400;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 250px;

        .components-cards-sale-point__moderation-label:not(.components-cards-sale-point__moderation-label_approved):hover & {
            display: block;
        }
    }

    &__moderation-hint-container {
        margin-top: 15px;
    }

    &__moderation-label {
        background: #ffff40;
        border-radius: 8px 0 0 8px;
        font-weight: 600;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 20px;

        &_approved {
            background: @green_100;
            color: @white;
        }

        &_reject {
            background: @red_tomatoes-cherry;
            color: @white;
        }
    }

    &__remove-button-container {
        margin-left: 15px;
    }

    &__title {
        font-weight: 600;
    }

    &__value {
        margin-top: 5px;
    }
}
