@import (reference) '~styles/colors';

.sliders-base {
    padding-bottom: 50px;
    position: relative;

    &__arrow {
        &_next {
            right: -50px !important;
        }

        &_prev {
            left: -50px !important;
        }
    }
}
