@import (reference) '~styles/colors';

.components-catalog-navigation-item-container {
    flex: 1 1 33%;
    height: 100%;
    overflow: auto;

    @media (max-width: 1023px) {
        padding-right: 5px;
    }

    @media (max-width: 374px) {
        flex: 1 1 50%;
    }
}
