@import (reference) '~styles/colors';

.inputs-search {
    position: relative;

    &__clear-button {
        background-color: @white;
        margin-right: 10px;
        padding: 5px;
    }

    &__input {
        border: 1px solid @white;
        border-right: none;
        border-radius: 30px 0 0 30px;
        color: @white;
        height: 100%;
        min-width: 0;
        padding: 0 30px;
        width: 270px;

        &::placeholder {
            color: @white;
        }
    }

    &__input-container {
        display: flex;
        height: 55px;
    }

    &__search-results-area {
        background-color: @white;
        border: 1px solid @black_10;
        border-radius: 15px;
        left: 0;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 65px;
    }

    &__search-results-block {
        max-height: 300px;
        overflow-y: auto;
    }

    &__search-results-container {
        margin-top: 25px;

        &.hidden + & {
            margin-top: 0;
        }
    }

    &__send-button {
        background-color: @white;
        border-radius: 0 30px 30px 0;
        color: @white;
        cursor: pointer;
        height: 100%;
        padding-right: 5px;
        width: 95px;

        &:hover {
            background-color: @white_100;
        }
    }

    &__send-button-icon {
        color: @primary;
        display: inline-block;
        height: 20px;
        line-height: 0;
        width: 20px;

        .inputs-search__button:hover & {
            color: @white;
        }
    }
}
