@import (reference) '~styles/colors';

.map-2gis-components-view {
    &__map-container {
        height: 500px;
        width: 500px;

        &_mobile-app {
            height: 300px;
            width: auto;
        }
    }
}
