@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-common-profile-modal {
    text-align: center;
    width: 100%;

    &__link {
        color: @red_tomatoes-cherry;
        font-weight: bold;
    }

    &__remove-container {
        margin-top: 50px;
    }
}
