@import (reference) '~styles/colors';

.modules-pages-offers-routes-show {
    text-align: center;

    &__content-area {
        margin: 50px auto 0;
        max-width: 800px;
        position: relative;

        @media (max-width: 1023px) {
            margin: 25px auto 0;
        }
    }

    &__favorites-section {
        display: flex;
        position: absolute;
        right: 0;
        top: -15px;
    }

    &__info-item-container {
        margin-top: 15px;
    }

    &__info-item-title {
        font-weight: 800;
    }

    &__info-section {
        margin-top: 20px;
    }

    &__map-container {
        margin: 0 auto;
        max-width: 500px;
    }

    &__slider-container {
        margin-top: 15px;
    }

    &__slider-image {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: contain;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__slider-image-container {
        padding-bottom: 50%;
        position: relative;
    }

    &__title {
        text-align: center;
    }
}
