@import (reference) '~styles/colors';

.modules-pages-auth-routes-forgot-password-components-confirm-code {
    &__container {
        margin-top: 25px;
    }

    &__title {
        color: @black_50;
        text-align: center;
    }
}
