@import (reference) '~styles/colors';

.modules-common-header-search {
    align-items: center;
    display: flex;
    height: 55px;

    &.j-style-header-search__mobile-show {
        left: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
    }

    &__clear-button {
        align-items: center;
        background-color: @white;
        border: 1px solid @black_15;
        border-radius: 50%;
        color: @black;
        display: flex;
        flex: 0 0 auto;
        height: 20px;
        justify-content: center;
        line-height: 0;
        margin-left: 10px;
        overflow: hidden;
        visibility: hidden;
        width: 20px;

        &:hover {
            color: @red;
        }

        svg {
            height: 24px;
            width: 24px;
        }

        .modules-common-header-search.j-style-header-search__focus.j-style-header-search__has-value & {
            visibility: visible;
        }
    }

    &__input {
        color: @white;
        height: 100%;
        min-width: 0;
        width: 100%;

        &::placeholder {
            color: @white;
        }
    }

    &__mobile-search-button {
        color: white;
        line-height: 0;

        @media (min-width: 500px) {
            display: none;
        }

        svg {
            height: 30px;
            width: 30px;
        }

        .modules-common-header-search.j-style-header-search__mobile-show & {
            display: none;
        }
    }

    &__result-container {
        margin-top: 10px;
    }

    &__search-block {
        border: 1px solid @white;
        border-radius: 30px;
        height: 100%;
        position: relative;
        width: 100%;

        @media (max-width: 499px) {
            display: none;
        }

        .modules-common-header-search.j-style-header-search__mobile-show & {
            background-color: @primary;
            display: block;
        }
    }

    &__search-container {
        align-items: center;
        bottom: 0;
        display: flex;
        height: 100%;
        left: 0;
        padding: 0 15px 0 30px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__search-results-area {
        background-color: @white;
        border: 1px solid @black_10;
        border-radius: 15px;
        display: none;
        left: 0;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 55px;
        z-index: 9;

        .modules-common-header-search.j-style-header-search__focus.j-style-header-search__has-value.j-style-header-search__has-results &,
        .modules-common-header-search.j-style-header-search__focus.j-style-header-search__has-value.j-style-header-search__no-results & {
            display: block;
        }
    }

    &__search-results-block {
        margin-top: -25px;
        max-height: 300px;
        overflow-y: auto;
    }

    &__search-results-container {
        display: none;

        &_categories-results {
            .modules-common-header-search.j-style-header-search__focus.j-style-header-search__has-categories-results & {
                display: block;
                margin-top: 25px;
            }
        }

        &_no-results {
            .modules-common-header-search.j-style-header-search__focus.j-style-header-search__no-results & {
                display: block;
                margin-top: 25px;
            }
        }

        &_sellers-results {
            .modules-common-header-search.j-style-header-search__focus.j-style-header-search__has-sellers-results & {
                display: block;
                margin-top: 25px;
            }
        }
    }
}
