@import (reference) '~styles/colors';

.components-catalog-navigation-item {
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;

    &_active {
        background-color: @white_100;
    }
}
