@import (reference) '~styles/colors';

.profile-common-container-form-field {
    margin-top: 25px;

    &__content-container {
        margin-top: 5px;
        max-width: 500px;
    }

    &__title {
        margin-left: 30px;
    }
}
