@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-pages-help-routes-index {
    &__area {
        &_faq {
            margin-top: 50px;
        }

        &_join {
            margin-top: 15px;
        }
    }

    &__area-description {
        margin-top: 15px;
        text-align: center;
    }

    &__area-description-sub {
        margin-top: 15px;
    }

    &__area-title {
        font-weight: 800;
        text-align: center;
    }

    &__block {
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__block-content {
        margin-top: 5px;
        text-align: center;
    }

    &__block-content-video {
        margin-top: 20px;
        text-align: center;
    }

    &__block-title {
        font-weight: 800;
        text-align: center;
    }

    &__block-join {
    }

    &__block-join-media {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    &__block-join-title {
        font-weight: 800;
        text-align: center;
    }

    &__bold {
        font-weight: 800;
    }

    &__video {
        max-width: 500px;
    }
}
