@import (reference) '~styles/colors';

.inputs-file-item {
    &_with-image {
        display: flex;
    }

    &__buttons-section {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }

    &__content-section {
        display: none;

        .inputs-file-item_with-image & {
            display: block;
        }
    }

    &__image {
        border: 1px solid @black_15;
        height: 200px;
        object-fit: contain;
        width: 200px;
    }

    &__image-container {
        line-height: 0;
    }

    &__input {
        display: none;
    }

    &__input-section {
        .inputs-file-item_with-image & {
            display: none;
        }
    }

    &__label {
        align-items: center;
        border: 1px solid @black_15;
        border-radius: 25px;
        cursor: pointer;
        display: flex;
        height: 55px;
        justify-content: center;
        padding: 0 25px;
        text-align: center;
        white-space: nowrap;
        width: 100%;
    }

    &__remove-button {
        color: @red;
    }
}
