@import (reference) '~styles/colors';

.inputs-file {
    &__input {
        display: none;
    }

    &__label {
        align-items: center;
        border: 1px solid @black-15;
        border-radius: 25px;
        display: flex;
        height: 55px;
        justify-content: center;
        width: 100%;
    }
}
