@import (reference) '~styles/colors';

.modules-pages-map-web-common-components-filters-modal-modal-content {
    &__content-container {
        margin-top: 20px;
    }

    &__cities-container {
        margin-top: 10px;
    }

    &__city-title {
        margin-top: 5px;
    }

    &__description {
        text-align: center;
    }

    &__filter-item-container {
        margin-top: 25px;
    }

    &__location-item {
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }
}
