@import (reference) '~styles/colors';

.profile-organization-info {
    display: flex;
    padding: 20px;

    &__content-container {
        flex: 3 1 auto;
        padding-left: 50px;
    }

    &__image {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__image-block {
        flex: 1 0 auto;
    }

    &__image-container {
        border-radius: 50%;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
    }

    &__input-container {
        margin-top: 5px;
        max-width: 500px;
    }

    &__info-title {
        margin-top: 25px;
        margin-left: 30px;
    }

    &__send-button {
        border: 1px solid @black-15;
        border-radius: 25px;
        color: @black-50;
        cursor: pointer;
        padding: 20px;
        text-align: center;
    }

    &__send-button-container {
        margin-top: 50px;
    }
}
