@import (reference) '~styles/colors';

.profile-organization-info {
    display: flex;

    &__content-container {
        flex: 3 1 auto;
    }

    &__input-container {
        margin-top: 5px;
        max-width: 500px;
    }

    &__info-title {
        margin-top: 25px;
        margin-left: 30px;
    }

    &__section {
        margin-top: 50px;

        &_add-file {
            margin-top: 15px;
        }

        &_without-offset {
            margin-top: 0;
        }
    }

    &__send-button {
        border: 1px solid @black_15;
        border-radius: 25px;
        color: @black_50;
        cursor: pointer;
        padding: 20px;
        text-align: center;
    }

    &__send-button-container {
        margin-top: 50px;
    }
}
