@import (reference) '~styles/colors';

.modules-pages-favorites-shared-components-button {
    position: relative;

    &__button {
        color: @black_5;
        width: 20px;

       &.active {
            color: #ffff00;
            cursor: pointer;

            svg {
                fill: #ffff00;
                filter: drop-shadow(0 0 10px #ffff00);
            }
        }
    }

    &__hint-block {
        align-items: center;
        background-color: @white;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px @shadow;
        display: none;
        flex-direction: column;
        padding: 10px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 200px;
        z-index: 9;

        .modules-pages-favorites-shared-components-button:hover & {
            display: flex;
        }

        &_left {
            left: auto;
            right: 0;
        }
    }

    &__hint-link {
        font-weight: 800;

        &:hover {
            text-decoration: underline;
        }
    }

    &__hint-text-container {
        margin-top: 5px;
    }
}
