@import (reference) '~styles/colors';

.modules-pages-favorites-shared-components-button {
    position: relative;

    &__button {
        color: @black_15;
        width: 20px;

        &:hover,
        &.active {
            color: #ffff00;
            cursor: pointer;

            svg {
                filter: drop-shadow(0 0 10px #ffff00);
            }
        }
    }

    &__hint-block {
        align-items: center;
        background-color: @white;
        border: 1px solid @black_15;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        padding: 10px;
        position: absolute;
        right: 0;
        text-align: center;

        .modules-pages-favorites-shared-components-button:hover & {
            display: flex;
        }

        &_left {
            left: 0;
            right: auto;
        }
    }

    &__hint-link {
        color: @red;
    }

    &__hint-text-container {
        margin-top: 5px;
    }
}
