@import (reference) '~styles/colors';

.map-common-components-filters-modal-components-buttons-navigation {
    cursor: pointer;
    display: inline-block;
    padding: 25px;
    text-align: left;
    width: 100%;
}
