@import (reference) '~styles/colors';

.profile-common-header {
    margin: 0 auto;
    max-width: 1000px;

    &__info-container {
        margin-top: 50px;
    }

    &__tab-button {
        border-radius: 10px;
        box-shadow: 0 0 10px 1px @black_10;
        color: @black_80;
        cursor: pointer;
        display: inline-block;
        flex: 1 0 0;
        padding: 20px;
        text-align: center;

        &:hover:not(.profile__tab-button_active) {
            background-color: @primary_50;
            color: @white;
        }

        &_active {
            background-color: @primary;
            color: @white;
            font-weight: 900;
        }
    }

    &__tab-item-container {
        padding: 10px;
    }

    &__tabs-block {
        margin-top: 50px;
    }

    &__tabs-container {
        display: flex;

        @media (max-width: 1023px) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__title {
        text-align: center;
    }

    &__title-container {
        margin-top: 50px;
    }
}
