@import (reference) '~styles/colors';

.modules-pages-profile-common-components-container-form-field {
    margin-top: 25px;

    &_without-offset {
        margin-top: 0;
    }

    &__content-container {
        margin-top: 5px;
        max-width: 500px;
    }

    &__title {
        font-weight: 800;
        margin-left: 30px;
    }
}
