.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__content-block {
        display: flex;
        flex: 1 1 auto;
        margin-top: 60px;

        @media (max-width: 767px) {
            margin-top: 50px;
        }

        @media (max-width: 374px) {
            margin-top: 40px;
        }
    }

    &__content-container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1920px;
        overflow: auto;
        padding: 0 50px;
    }
}
