@import (reference) '~styles/colors';

.modals-common {
    align-items: center;
    background-color: @black-80;
    bottom: 0;
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding: 50px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 99999;

    &_show {
        display: flex;
    }

    &__body {
        overflow: auto;
        height: 100%;
    }

    &__body-block {
        background-color: @white;
        border-radius: 25px;
        display: flex;
        margin: auto;
        max-height: 100%;
        width: 100%;
    }

    &__body-container {
        padding: 50px;
        width: 100%;
    }
}
