@import (reference) '~styles/colors';

.modals-common {
    align-items: center;
    background-color: @black-80;
    bottom: 0;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;

    &_show {
        display: flex;
    }
}
