@import (reference) '~styles/adaptive';

.modules-pages-catalog-common-components-list {
    margin: 0 auto;
    max-width: 1000px;

    &__item {
        flex: 0 1 25%;

        @media (max-width: 767px) {
            flex: 0 1 50%;
        }
    }

    &__item-content {
        margin-top: 50px;
        padding: 0 25px;

        @media (max-width: 767px) {
            margin-top: 25px;
            padding: 0 10px;
        }
    }

    &__items-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px;

        @media (max-width: 767px) {
            margin: 0 -10px;
        }
    }
}
