@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-common-callback-new {
    &__area-input {
        margin-top: 5px;
    }

    &__area-send {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        text-align: right;

        @media @mobile {
            align-items: center;
            text-align: center;
        }

        .modules-common-callback-new.success & {
            display: none;
        }
    }

    &__area-success {
        display: none;
        text-align: right;

        @media @mobile {
            text-align: center;
        }

        .modules-common-callback-new.success & {
            display: block;
        }
    }

    &__title {
        font-weight: 800;
        text-decoration: underline;
    }
}
