@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';
@import (reference) '~styles/font';
@import (reference) '~styles/text';

.modules-pages-offers-shared-components-item {
    box-shadow: 0 1px 2px rgba(32, 33, 36, 8%);
    display: flex;
    padding: 20px 40px 20px 20px;
    position: relative;

    @media (max-width: 767px) {
        flex-direction: column;
        padding: 20px;
    }

    &__contacts-block {
        .ellipsis();

        margin-top: 15px;
    }

    &__content-block {
        flex: 1 1 0;
        padding: 0 0 0 20px;

        @media (max-width: 767px) {
            margin-top: 15px;
            padding: 0;
        }
    }

    &__description-container {
        .ellipsis(2);
    }

    &__image {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__image-block {
        flex: 0 0 auto;
        width: 150px;

        @media @mobile {
            width: 100%;
        }
    }

    &__image-container {
        padding-bottom: 100%;
        position: relative;
    }

    &__image-link {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__phone-container {
        .ellipsis();
    }

    &__price {
        font-weight: 800;
    }

    &__price-container {
        .ellipsis();

        margin-top: 15px;
    }

    &__product-link {
        .ellipsis();

        font-weight: 600;
    }

    &__rating-section {
        margin-top: 20px;
    }

    &__sale-point-address-container {
        margin-top: 5px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__sale-points-block {
        margin-top: 15px;
    }

    &__sale-points-button {
        .f_badge();

        color: @black_80;
        cursor: pointer;

        &:hover {
            color: @black;
        }
    }

    &__sale-points-button-text {
        &_show {
            display: none;

            .modules-pages-offers-shared-components-item__sale-points-block.show & {
                display: unset;
            }
        }

        &_hide {
            .modules-pages-offers-shared-components-item__sale-points-block.show & {
                display: none;
            }
        }
    }

    &__sale-points-container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 34px;
        overflow: hidden;

        .modules-pages-offers-shared-components-item__sale-points-block.show & {
            height: auto;
        }
    }

    &__sale-points-title {
        font-weight: 600;
        margin-top: 5px;
    }

    &__seller-info-container {
        .ellipsis(2);
    }

    &__service-block {
        position: absolute;
        top: 15px;
        right: 15px;

        @media @mobile {
            top: 35px;
            right: 35px;
        }
    }

    &__show-on-map-button {
        .f_badge();

        color: @black_80;
        cursor: pointer;

        &:hover {
            color: @black;
        }
    }
}
