@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-pages-profile-common-components-container-header {
    margin: 0 auto;
    max-width: 1000px;

    @media @mobile {
        margin: 0
    }

    &__help-area {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        text-align: center;

        @media @tablet {
            align-items: center;
        }
    }

    &__help-area-messengers {
        margin-top: 5px;
    }

    &__info-container {
        margin-top: 50px;
    }

    &__mobile-container {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__tab-button {
        border-bottom: 2px solid @black_10;
        color: @black_80;
        cursor: pointer;
        display: inline-block;
        flex: 1 0 0;
        padding: 20px;
        text-align: center;

        &:hover:not(.modules-pages-profile-common-components-container-header__tab-button_active) {
            border-color: #189e16;
            font-weight: 900;
        }

        &_active {
            border-color: #189e16;
            font-weight: 900;
        }

        &_size-large {
            min-width: 230px;
        }

        &_size-medium {
            min-width: 170px;
        }
    }

    &__tab-item-container {
        padding: 10px;
    }

    &__tabs-block {
        margin-top: 15px;
    }

    &__tabs-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1023px) {
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__tabs-secondary-container {
        display: flex;

        @media (max-width: 1023px) {
            align-items: center;
            flex-direction: column;
            margin: 50px 0 0 0;
        }
    }

    &__title {
        text-align: center;
    }

    &__title-container {
        margin-top: 50px;

        @media (max-width: 1023px) {
            margin-top: 25px;
        }
    }
}
