@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.components-modals-base-common {
    background-color: @black_50;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 50px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 99999;

    @media @tablet {
        padding: 0;
    }

    &_show {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 50px;
        position: relative;
        width: 100%;

        @media @tablet {
            padding: 35px 15px 25px;
        }
    }

    &__body-block {
        display: flex;
        margin: auto;
        max-height: 100%;
        max-width: 1920px;
        width: 100%;

        @media @tablet {
            margin: 0;
        }
    }

    &__body-container {
        background-color: @white;
        border-radius: 25px;
        display: flex;
        width: 100%;

        @media @tablet {
            border-radius: 25px 25px 0 0;
            margin-top: 50px;
            overflow: visible;
        }
    }

    &__content-container {
        display: flex;
        min-height: 0;
        width: 100%;

        @media @tablet {
            overflow: auto;
        }
    }

    &__close-button {
        background-color: @white;
        border: 1px solid @black_15;
        border-radius: 50%;
        color: @black_50;
        height: 50px;
        position: absolute;
        right: 0;
        width: 50px;

        &:hover {
            box-shadow: 0 0 5px 1px @black_10;
            color: @black;
        }

        svg {
            height: 100%;
            width: 100%;
        }

        @media @tablet {
            height: 25px;
            right: 15px;
            top: 10px;
            width: 25px;
        }
    }

    &__close-button-container {
        line-height: 0;
        position: relative;
        text-align: right;

        @media @tablet {
            position: static;
        }
    }
}
