@import (reference) '~styles/colors';

.modules-pages-auth-routes-login-components-forgot-password {
    text-align: right;

    &__button {
        color: @black_50;
        cursor: pointer;
    }
}
