@import (reference) '~styles/colors';

.modules-pages-auth-common-components-tabs {
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    &__link {
        border-radius: 10px;
        box-shadow: 0 0 5px 0 @shadow;
        color: @black_50;
        display: inline-block;
        flex: 1 0 0;
        padding: 20px;
        text-align: center;

        &:hover:not(.auth-login__tab-link_active) {
            background-color: @primary_50;
            color: @white;
        }

        &_active {
            background-color: @primary;
            color: @white;
            cursor: auto;
            font-weight: 900;
            pointer-events: none;
        }

        &_with-offset {
            margin: 0 0 0 20px;

            @media (max-width: 767px) {
                margin: 20px 0 0 0;
            }
        }
    }
}
