@import (reference) '~styles/colors';

.modules-pages-profile-common-components-body-index {
    max-width: 600px;

    &__content-container {
        margin-top: 50px;
    }

    &__create-link {
        background-color: @green_100;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px @shadow;
        color: @white;
        cursor: pointer;
        display: inline-block;
        flex: 1 0 0;
        font-weight: 900;
        padding: 20px;
        text-align: center;

        &:hover {
            background-color: @green;
        }
    }

    &__create-link-container {
        @media (max-width: 1023px) {
            text-align: center;
        }
    }

    &__title-container {
        @media (max-width: 1023px) {
            text-align: center;
        }
    }
}
