@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';
@import (reference) '~styles/text';

.components-cards-sale-offer {
    border: 1px solid @white_100;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(242, 242, 242, 0.70);
    padding: 20px 40px 20px 20px;
    position: relative;

    @media (max-width: 767px) {
        flex-direction: column;
        padding: 20px;
    }

    &__approved-block {
        background: @black_5;
        border-radius: 8px;
        color: @black_80;
        margin-top: 20px;
        padding: 20px;
    }

    &__approved-block-container {
        margin-top: 15px;
    }

    &__approved-block-link {
        color: @black_80;
        text-decoration-line: underline;
    }

    &__approved-block-title {
        font-weight: 600;
    }

    &__contacts-block {
        .ellipsis();

        margin-top: 15px;
    }

    &__content-area {
        display: flex;

        @media @mobile {
            flex-direction: column;
        }
    }

    &__content-block {
        flex: 1 1 0;
        padding: 0 0 0 20px;

        @media (max-width: 767px) {
            margin-top: 50px;
            padding: 0;
        }
    }

    &__description-container {
        .ellipsis(2);
    }

    &__image {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__image-block {
        flex: 0 0 auto;
        width: 150px;

        @media @mobile {
            width: 100%;
        }
    }

    &__image-container {
        height: 100%;
        position: relative;

        @media (max-width: 767px) {
            height: auto;
            padding-bottom: 100%;
        }
    }

    &__image-link {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__info-section {
        max-width: 250px;
    }

    &__link {
        &_remove {
            color: @red;
        }
    }

    &__moderation-hint {
        background: @white;
        border: 1px solid @black_50;
        border-radius: 8px;
        color: @black;
        display: none;
        font-weight: 400;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 250px;

        .components-cards-sale-offer__moderation-label:not(.components-cards-sale-offer__moderation-label_approved):hover & {
            display: block;
        }
    }

    &__moderation-hint-container {
        margin-top: 15px;
    }

    &__moderation-label {
        background: #ffff40;
        border-radius: 8px 0 0 8px;
        font-weight: 600;
        max-width: 200px;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 20px;

        @media @mobile {
            top: 10px;
        }

        &_approved {
            background: @green_100;
            color: @white;
        }

        &_reject {
            background: @red_tomatoes-cherry;
            color: @white;
        }
    }

    &__phone-container {
        .ellipsis();
    }

    &__price {
        font-weight: 800;
    }

    &__price-container {
        .ellipsis();

        margin-top: 15px;
    }

    &__product-link {
        .ellipsis();

        font-weight: 600;
    }

    &__rating-section {
        margin-top: 20px;
    }

    &__seller-info-container {
        .ellipsis(2);
    }

    &__service-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    }

    &__remove-button-container {
        margin-left: 15px;
    }
}
