.location-choose-infoBlock-item {
    display: flex;

    &__change-button {
        color: green;
    }

    &__change-button-container {
        margin-left: 10px;
    }

    &__title {
        font-weight: bold;
    }
}
