.modules-common-location-components-choose-info-block-item {
    text-align: center;

    &__change-button {
        color: green;
    }

    &__reset-button {
        color: orangered;
        margin-left: 10px;
    }

    &__title {
        font-weight: bold;
    }
}
