@import (reference) '~styles/colors';

.modules-pages-profile-common-components-container-footer {
    &__info-container-required {
        color: @black_50;
        display: none;

        .form:invalid & {
            display: block;
        }
    }

    &__send-button-container {
        margin-top: 50px;
    }
}
