@import (reference) '~styles/colors';

.map-2gis-components-view-item {
    &__map-container {
        height: 500px;
        width: 500px;

        &_mobile-app {
            height: 300px;
            width: auto;
        }
    }

    &__marker-popup {
        width: 100px;
    }
}
