@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-pages-profile-routes-organization-info-index {
    &__empty-block {
        margin-top: 20px;
    }

    &__empty-container {
        margin-top: 20px;

        &_bold {
            font-weight: 800;
        }
    }

    &__empty-link {
        font-weight: 800;
    }
}
