@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.components-inputs-phone {
    border: 1px solid @black_15;
    border-radius: 25px;
    display: block;
    height: 55px;
    overflow: hidden;
    position: relative;

    &__input {
        bottom: 0;
        height: 0;
        left: 0;
        opacity: 0;
        outline: none;
        position: absolute;
        width: 0;
    }

    &__input-mask {
        border: 1px solid @white;
        border-right: none;
        border-radius: 30px 0 0 30px;
        color: @black_50;
        height: 100%;
        min-width: 0;
        padding: 0 30px;
        width: 100%;
    }
}
