@import (reference) '~styles/colors';

.profile-sale-points-info-sale-point {
    &__info-title {
        margin-top: 25px;
        margin-left: 30px;
    }

    &__input-container {
        margin-top: 5px;
        max-width: 500px;
    }

    &__send-button {
        border: 1px solid @black-15;
        border-radius: 25px;
        color: @black-50;
        cursor: pointer;
        padding: 20px;
        text-align: center;
    }

    &__send-button-container {
        margin-top: 50px;
    }
}
