@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-common-footer-index {
    background-color: @black_90;
    color: @white;
    padding: 20px;

    @media @tablet {
        text-align: center;
    }

    &__about {
        @media @tablet {
            margin-top: 15px;
        }
    }

    &__area-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @media @tablet {
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__area-top {
        display: flex;
        justify-content: space-between;

        @media @tablet {
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__block-bottom-left {
        align-items: flex-end;
        display: flex;
        flex: 0 0 50%;

        @media @tablet {
            order: 1;
        }
    }

    &__block-bottom-right {
        flex: 1 1 50%;
        text-align: right;

        @media @tablet {
            text-align: center;
        }
    }

    &__block-top-left {
        flex: 0 0 50%;
    }

    &__block-top-right {
        flex: 1 1 50%;
        text-align: right;
    }

    &__contacts-block-right {
        text-align: right;

        @media @tablet {
            margin-top: 15px;
            text-align: center;
        }
    }

    &__contacts-container {
        margin-top: 5px;
    }

    &__contacts-item {
        margin-top: 5px;

        &:first-child {
            margin: 0;
        }

        &_flex {
            display: flex;
            justify-content: flex-end;

            @media @tablet {
                justify-content: center;
            }
        }
    }

    &__content-area {
        margin: 0 auto;
        max-width: 1440px;
    }

    &__copyright-container {
        margin-top: 20px;

        @media @tablet {
            margin-top: 15px;
        }
    }

    &__info-container {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @media @tablet {
            align-items: initial;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__legal-container {
        @media @tablet {
            margin-top: 15px;
        }
    }

    &__link {
        color: @white;
        text-decoration-line: underline;
    }

    &__logo-container {
        display: inline-block;

        &_desktop {
            @media (max-width: 1023px) {
                display: none;
            }
        }

        &_mobile {
            @media (min-width: 1024px) {
                display: none;
            }
        }
    }

    &__share-block {
        margin-top: 15px;
    }

    &__share-block-icons-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;

        @media @tablet {
            justify-content: center;
        }
    }

    &__social-media {
        margin-top: 10px;
    }

    &__social-media-description {
        margin-top: 5px;

        @media @tablet {
            display: flex;
            justify-content: center;
        }
    }

    &__social-media-title {

    }
}
