@import (reference) '~styles/colors';

.button {
    background-color: @white;
    border: 1px solid @black_5;
    border-radius: 25px;
    color: @black_50;
    cursor: pointer;
    padding: 20px;
    text-align: center;

    &:hover {
        background-color: @primary;
        border-color: @primary;
        color: @white
    }

    &_disabled {
        cursor: auto;
        pointer-events: none;
    }

    &_form {
        .form:invalid & {
            pointer-events: none;
        }
    }

    &_hover {
        &_red {
            &:hover {
                background-color: @red;
                border-color: @red;
                color: @white
            }
        }
    }
}
