@import (reference) '~styles/colors';

.button {
    background-color: @white;
    border: 1px solid @black_15;
    border-radius: 25px;
    color: @black_50;
    cursor: pointer;
    padding: 20px;
    text-align: center;

    &:hover {
        background-color: @primary;
        border-color: @primary;
        color: @white
    }

    &_form {
        .form:invalid & {
            pointer-events: none;
        }
    }
}
