@black: #000000;
@black_90: #212121;
@black_80: #424242;
@black_50: #636363;
@black_20: #848484;
@black_15: #a1a1a1;
@black_10: #c1c1c1;
@black_5: #e0e0e0;

@blue: #000e76;

@green: #258003;
@green_100: #46a02e;

@grey: #f1f1f1;

@primary: #90d486;
@primary_10: #cafac4;
@primary_50: #bbecb3;
@primary_80: #95de8e;
@primary_100: #228B22;
@primary_200: #006400;

@red: #FF0000;
@red_tomatoes-cherry: #e34132;

@shadow: #e6e6e6;

@white: #FFFFFF;
@white_100: #E9EDF6;
