@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('../fonts/Lato/woff2/Lato-Regular.woff2');
}

@font-face {
    font-family: 'Lato';
    font-weight: 600;
    src: url('../fonts/Lato/woff2/Lato-Bold.woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    src: url('../fonts/Lato/woff2/Lato-Italic.woff2');
}
