@import (reference) '~styles/colors';
@import (reference) '~styles/typography';

a {
    color: unset;
}

body {
    .f_text();

    color: @black;
    font-family: 'Lato', sans-serif;
}

button {
    .f_text();
}

h1 {
    .f_h1();
}

h2 {
    .f_h2();
}

h3 {
    .f_h3();
}

h4 {
    .f_h4();
}

h5 {
    .f_h5();
}

h6 {
    .f_h6();
}
