@import (reference) '~styles/colors';

.map-web-filters-components-navigation-content-button {
    display: block;
    padding: 20px;
    text-align: left;
    width: 100%;

    &:hover {
        background-color: @white_100;
    }
}
