@import (reference) '~styles/colors';

.modules-common-location-components-modal-modal-content {
    &__content-container {
        margin-top: 20px;
    }

    &__cities-container {
        margin-top: 10px;
    }

    &__city-title {
        margin: 5px 10px 0 0;

        &:hover {
            color: @red;
        }
    }

    &__location-item {
        margin-top: 50px;
    }

    &__region-title {
        padding: 20px;
        text-align: left;
        width: 100%;
    }

    &__title {
        text-align: center;
    }
}
