@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-common-catalog {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__catalog-search-container {
        margin-top: 50px;

        @media @tablet {
            margin-top: 15px;
        }
    }

    &__content-area {
        display: flex;
        margin-top: 50px;
        min-height: 0;

        @media @tablet {
            margin-top: 25px;
        }
    }

    &__content-block {
        flex: 2 1 66%;
        overflow: auto;
    }

    &__navigation-block {
        flex: 1 1 33%;
        overflow: auto;
    }

    &__title {
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
    }
}
