@import (reference) '~styles/colors';

.modules-common-catalog {
    &__catalog-search-container {
        margin-top: 50px;
    }

    &__content-area {
        display: flex;
        margin-top: 50px;
    }

    &__content-block {
        flex: 2 1 66%;
    }

    &__navigation-block {
        flex: 1 1 33%;
    }
}
