@import (reference) '~styles/colors';

.modules-common-header-search-item {
    margin-top: 5px;

    @media (max-width: 1023px) {
        margin-top: 10px;
    }

    &:first-child {
        margin-top: 0;
    }

    &__link {
        cursor: pointer;
    }
}
