@import (reference) '~styles/colors';

.components-map-yandex-components-view-all {
    padding-bottom: 100%;
    position: relative;

    &__map-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        &_mobile-app {
            height: 300px;
            width: auto;
        }
    }

    &__marker-popup {
        width: 100px;
    }
}
