@import (reference) '~styles/colors';

.map-web-filters-components-button {
    &__filter-button {
        background-color: @primary;
        border-radius: 25px;
        color: @white;
        cursor: pointer;
        padding: 20px;
        text-align: center;

        &:hover {
            background-color: @primary_80;
        }
    }
}
