@import (reference) '~styles/colors';

.modules-pages-map-web-common-components-filters-button {
    text-align: center;

    &__change-button {
        color: green;
    }

    &__reset-button {
        color: orangered;
        margin-left: 10px;
    }

    &__title {
        font-weight: bold;
    }
}
