@import (reference) '~styles/colors';

.modules-common-filters-product-modal-components-buttons-navigation {
    cursor: pointer;
    display: inline-block;
    padding: 25px;
    text-align: left;
    width: 100%;
}
