@import (reference) '~styles/colors';

.components-map-mobile-app-yandex-components-sale-offer {
    height: 100vh;
    position: relative;
    width: 100vw;

    &__map-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__marker-popup {
        width: 100px;
    }
}
