@import (reference) '~styles/colors';

.breadcrumbs-item {
    align-items: center;
    display: flex;
    margin-right: 15px;

    &__arrow {
        margin-left: 15px;
    }

    &__link {
        &:hover {
            color: @red;
        }
    }
}
