@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-pages-about-routes-index {
    margin-top: 100px;

    @media @mobile {
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }
}
