@import (reference) '~styles/colors';

.modules-common-map-mobile-app-components-view-product {
    height: 100vh;
    position: relative;
    width: 100vw;

    &__map-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__marker-popup {
        width: 100px;
    }
}
