@import (reference) '~styles/colors';

.modules-pages-legal-routes-index {
    font-size: 24px;

    &__container {
        margin-top: 100px;
    }

    &__paragraph-container {
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }
}
