@import (reference) '~styles/colors';

.components-catalog {
    display: flex;
    width: 100%;

    &__categories-container {
        columns: 3;
        margin-top: 50px;
    }

    &__content-container {
        flex: 2 1 66%;
        padding: 20px;
    }

    &__navigation-container {
        flex: 1 1 33%;
    }
}
