@import (reference) '~styles/colors';

.modules-common-header-index {
    position: relative;

    &__favorites-container {
        position: relative;
    }

    &__favorites-count-container {
        align-items: center;
        background-color: @white;
        border-radius: 50%;
        color: @primary;
        display: none;
        height: 20px;
        justify-content: center;
        position: absolute;
        right: -8px;
        top: -11px;
        width: 20px;

        .modules-common-header-index__favorites-container.active & {
            display: flex;
        }
    }

    &__favorites-hint-block {
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
        color: @black_80;
        display: none;
        flex-direction: column;
        padding: 10px;
        position: absolute;
        right: 0;
        text-align: center;

        .modules-common-header-index__favorites-container:hover & {
            display: flex;
        }
    }

    &__favorites-hint-link {
        color: @black_80;
    }

    &__favorites-hint-text-container {
        margin-top: 5px;
    }

    &__favorites-icon-container {
        line-height: 0;
        position: relative;

        svg {
            color: transparent;
            stroke: @white;
            stroke-width: 2px;
            height: 30px;
        }

        &.active {
            svg {
                color: @white;
            }
        }
    }

    &__favorites-link {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__item-container {
        flex: 0 0 auto;
        margin-left: 10px;

        &_mobile-full-width {
            @media (max-width: 499px) {
                flex: 1 0 auto;
            }
        }

        &_mobile-hidden {
            @media (max-width: 499px) {
                display: none;
            }
        }

        &_search-container {
            flex: 0 1 auto;
        }
    }

    &__items-block {
        align-items: center;
        display: flex;
        flex: 0 1 auto;
        position: relative;

        @media (max-width: 499px) {
            flex: 1 1 auto;
            justify-content: flex-end;
        }
    }

    &__location-container {
        line-height: 0;

        svg {
            height: 30px;
        }
    }

    &__login-link {
        color: @white;
    }

    &__logo-container {
        line-height: 0;
        margin-left: 0;
        width: 50px;
    }

    &__main {
        align-items: center;
        background-color: @primary;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 25%);
        display: flex;
        height: 88px;
        justify-content: center;
        padding: 0 20px;
        position: relative;

        @media (max-width: 767px) {
            height: 65px;
        }
    }

    &__main-menu-container {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__map-block {
        bottom: -60px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        width: 100%;

        @media (max-width: 767px) {
            bottom: -50px;
        }

        @media (max-width: 374px) {
            bottom: -45px;
        }
    }

    &__map-container {
        align-items: flex-end;
        background-color: skyblue;
        border-radius: 50%;
        bottom: 10px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 25%);
        display: flex;
        height: 300px;
        justify-content: center;
        padding: 0 300px 15px;
        pointer-events: all;
        position: relative;

        @media (max-width: 767px) {
            padding: 0 240px 8px;
        }

        @media (max-width: 374px) {
            padding: 0 210px 8px;
        }
    }

    &__map-link {
        color: @white;
        font-weight: 500;
    }

    &__profile-container {
        line-height: 0;

        svg {
            height: 30px;
        }
    }

    &__profile-link {
        color: @white;
    }

    &__search-container {
        max-width: 270px;
    }
}
