@import (reference) '~styles/colors';

.header {
    align-items: center;
    background-color: @primary;
    display: flex;
    height: 88px;
    justify-content: center;

    &__favorites-container {
        color: @white;
        line-height: 0;
        width: 30px;
    }

    &__location-container {
        line-height: 0;
        width: 30px;
    }

    &__login-container {
        line-height: 0;
        width: 30px;
    }

    &__login-link {
        color: @white;
    }

    &__logo-container {
        line-height: 0;
        width: 50px;
    }

    &__profile-container {
        height: 30px;
        width: 30px;
    }

    &__profile-link {
        color: @white;
    }
}
