@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.components-info-common {
    &__button {
        font-style: italic;
        text-decoration: underline;
    }

    &__message-area {
        display: flex;

        @media @tablet {
            justify-content: center;
        }
    }

    &__text {
        color: @black_80;
        font-style: italic;
    }
}
