@import (reference) '~styles/colors';

.components-info-common {
    &__button {
        font-style: italic;
        text-decoration: underline;
    }

    &__contacts-messenger-container {
        line-height: 0;
        margin-left: 15px;

        &:first-child {
            margin: 0;
        }

        svg {
            width: 24px;
        }
    }

    &__message-area {
        display: flex;
    }

    &__text {
        color: @black_80;
        font-style: italic;
    }
}
