@import (reference) '~styles/colors';

.modules-pages-auth-common-components-layout-form {
    &__info-container-required {
        display: none;
        color: @black_20;
        margin-top: 15px;

        .modules-pages-auth-common-components-layout-form:invalid & {
            display: block;
        }
    }

    &__send-button {
        .modules-pages-auth-common-components-layout-form:invalid & {
            pointer-events: none;
        }
    }

    &__send-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }
}
