@import (reference) '~styles/colors';

.modules-pages-auth-common-components-layout-form {
    &__send-button {
        border: 1px solid @black_15;
        border-radius: 25px;
        color: @black_50;
        cursor: pointer;
        padding: 20px;
        text-align: center;
    }

    &__send-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }
}
