@import (reference) '~styles/colors';

.modules-pages-profile-routes-personal-info-index {
    display: flex;

    @media (max-width: 1023px) {
        align-items: center;
        flex-direction: column;
    }

    &__agreement-container {
        margin-top: 50px;
    }

    &__approve-container {
        margin-top: 25px;
    }

    &__change-email-container {
        margin-top: 15px;
    }

    &__change-password-container {
        margin-top: 15px;
    }

    &__content-block {
        flex: 3 1 auto;

        @media (max-width: 1023px) {
            margin-top: 25px;
        }
    }

    &__content-container {
        max-width: 500px;
        padding-left: 50px;

        @media (max-width: 1023px) {
            padding-left: 0;
        }
    }

    &__image {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__image-block {
        flex: 1 0 auto;
        min-width: 350px;

        @media (max-width: 1023px) {
            min-width: 350px;
        }

        @media (max-width: 767px) {
            min-width: 150px;
        }
    }

    &__image-container {
        border-radius: 50%;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
    }

    &__info-description {
    }

    &__info-container-required {
        color: @black_50;
        display: none;

        form:invalid & {
            display: block;
        }
    }

    &__info-title {
        margin-top: 25px;
        margin-left: 30px;
    }

    &__input-container {
        margin-top: 5px;
    }

    &__moderation-hint {
        background: @white;
        border: 1px solid @black_5;
        border-radius: 8px;
        color: @black;
        display: none;
        font-weight: 400;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 250px;

        .modules-pages-profile-routes-personal-info-index__moderation-label:not(.modules-pages-profile-routes-personal-info-index__moderation-label_approved):hover & {
            display: block;
        }
    }

    &__moderation-hint-container {
        margin-top: 15px;
    }

    &__moderation-label {
        background: #ffff40;
        border-radius: 8px 0 0 8px;
        font-weight: 600;
        padding: 20px;
        position: relative;

        &_approved {
            background: @green_100;
            color: @white;
        }

        &_grey {
            background: @black_5;
            color: @black_80;
            font-weight: 400;
        }

        &_reject {
            background: @red_tomatoes-cherry;
            color: @white;
        }
    }

    &__photo-block {
        margin-top: 25px;
    }

    &__section-container {
        margin-top: 50px;
    }

    &__seller-link {
        color: @black_80;
        text-decoration-line: underline;
    }

    &__seller-link-container {
        margin-top: 15px;
    }

    &__seller-link-footer {
        margin-top: 15px;
    }

    &__seller-link-title {
        font-weight: 600;
    }

    &__send-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        form:invalid & {
            pointer-events: none;
        }
    }

    &__title-container {
        @media (max-width: 1023px) {
            text-align: center;
        }
    }
}
