@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.components-values-common {
    &__value-container {
        margin: 10px 0 0 10px;
    }

    &__values-container {
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0 0 -10px;
    }
}
