@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-common-offers-list {
    &__empty-area {
        margin-top: 20px;
    }

    &__empty-hint-block {
        font-style: italic;
    }

    &__empty-share-block {
        margin-top: 20px;
    }

    &__empty-share-links {
        margin-top: 10px;
    }

    &__text-bold {
        font-weight: 800;
    }
}
