@import (reference) '~styles/colors';

.components-admin-cards-organization {
    border: 1px solid @black_20;
    border-radius: 20px;
    max-width: 800px;
    padding: 20px;

    &__button {
        background-color: @primary;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px @black_10;
        color: @white;
        cursor: pointer;
        display: inline-block;
        flex: 1 0 0;
        padding: 20px;
        text-align: center;

        &:hover {
            background-color: @primary_80;
        }

        &_red {
            background-color: @red;

            &:hover {
                background-color: @red_tomatoes-cherry;
            }
        }
    }

    &__button-container {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__buttons-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }

    &__image {
        border: 1px solid @black_20;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }

    &__image-item-container {
        margin-right: 20px;

        @media (max-width: 1023px) {
            margin: 15px 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    &__image-list-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        @media (max-width: 1023px) {
            flex-direction: column;
        }
    }

    &__item-container {
        margin-top: 20px;

        &_service {
            display: flex;
            justify-content: flex-end;
        }

        &_without-offset {
            margin-top: 0;
        }
    }

    &__link {
        &_remove {
            color: @red;
        }
    }

    &__remove-button-container {
        margin-left: 15px;
    }

    &__textarea-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }

    &__value {
        margin-top: 5px;
    }
}
