@import (reference) '~styles/colors';

.page-common-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 60px auto 0;
    max-width: 1920px;
    overflow: auto;
    padding: 0 50px;

    @media (max-width: 499px) {
        padding: 0 10px;
    }

    @media (max-width: 767px) {
        margin-top: 50px;
    }

    @media (max-width: 374px) {
        margin-top: 40px;
    }

    &_without-offset {
        margin-top: 0;
    }
}
