@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.modules-common-callback {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;

    @media @mobile {
        align-items: center;
        text-align: center;
    }

    &__title {
        font-weight: 800;
        text-decoration: underline;
    }
}
