@import (reference) '~styles/colors';

.modules-common-catalog-modal-components-buttons-content {
    cursor: pointer;
    display: inline-block;
    padding: 25px;
    text-align: left;
    width: 100%;
}
