@import (reference) '~styles/colors';

.favorites-components-button {
    &__button {
        color: @black_15;
        width: 20px;

        &:hover,
        &.active {
            color: #ffff00;
            cursor: pointer;

            svg {
                filter: drop-shadow(0 0 10px #ffff00);
            }
        }
    }
}
