@import (reference) '~styles/colors';

.components-inputs-textarea-base {
    &__textarea {
        border: 1px solid @black_15;
        border-radius: 20px;
        height: 100px;
        outline: none;
        padding: 10px;
        resize: none;
        width: 100%;
    }
}
