@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.components-rating-common-get {
    display: flex;
    height: 20px;
    position: relative;
    width: 100px;

    &__star-container-active {
        background: url('/build/icons/star_active.svg');
        background-size: 20px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &__star-container-default {
        background: url('/build/icons/star_default.svg');
        background-size: 20px;
        width: 100%;
    }
}
