@import (reference) '~styles/colors';

.auth-login {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;

    &__content-block {
        border-radius: 20px;
        box-shadow: 0 0 40px 0 @black-15;
        margin: 0 auto;
        padding: 50px;
        width: 50%;
    }

    &__content-container {
        margin-top: 50px;
    }

    &__form-item-container {
        margin-top: 30px;
    }

    &__tab-button {
        border-radius: 10px;
        box-shadow: 0 0 5px 0 @black-15;
        color: @black-50;
        cursor: pointer;
        display: inline-block;
        flex: 1 0 0;
        padding: 20px;
        text-align: center;

        &_with-offset {
            margin-left: 20px;
        }
    }

    &__tabs-container {
        display: flex;
    }
}
